.root-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-container {
    display: flex;
    flex: 1 1 auto;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}