.wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (width <= 768px) {
        flex-direction: column;
    }

    h1 {
        margin: 0;
    }
}

.categories {
    display: flex;
    align-items: center;
    gap: 10px;


}

.category {
    border-radius: 15px;
    opacity: 0.6;
    line-height: 27px;
    height: 30px;
    padding: 0 10px;
    border: 2px solid;
    box-sizing: border-box;
    border-color: var(--color-text);
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;

    @media (width <= 768px) {
        flex-direction: column;
        background-color: var(--color-navbar);
    }
}

.gallery {
    max-width: 50%;

    @media (width <= 768px) {
        max-width: 100%;
    }
}

.card {
    width: 45%;

    @media (width <= 768px) {
        width: 100%;
    }
}

.description {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.details {
    width: 60%;
    border-radius: 20px;
    height: max-content;

    @media (width <= 768px) {
        width: 100%;
    }
}

.details_content {
    height: 300px;
    overflow-y: auto;
    margin: 20px;

    &::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 99px;
        border: 3px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        background-color: var(--color-button);
    }

    p {
        opacity: 0.6;
        margin-right: 10px;
    }
}

.select {
    background-color: var(--color-button);
    box-shadow: 0 0 20px var(--color-shadow);
}

.similar_wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 10px;

    @media (width <= 768px) {
        width: 100%;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 0;
        line-height: 1;

        @media (width <= 768px) {
            margin: 20px 0;
        }
    }

    button {
        width: 40%;
    }
}

.similar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}