.theme-toggle {
    width: 44px;
    height: 24px;
    position: relative;
    background-color: var(--switcher-color);
    border-radius: 12px;
    transition: all 0.2s;
    border: none;
}

.toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    transition: left 0.2s ease;
    left: 2px;
    background-color: var(--color-active-link);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        color: var(--color-link)
    }
}

.checked {
    left: calc(100% - 22px);
}